@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.black-mode:root {
  --corBackground: #08111b /*#141442*/;
  --corBackground2: #020b1399;
  --corBackground3: #01050899;
  --corTransp: #04123580;
  --corFonte: white;
  --verde_medio: #30828dde;
  --corComentario: #3d5c7e;
  --corEscuro: #010a12;
  --corLink: #069aad;
  --corNotif: #04081199;
}

.mid-mode:root {
  --corBackground: #4073e0;
  --corBackground2: #1a64c599;
  --corBackground3: #04489699;
  --corTransp: #06428680;
  --corFonte: white;
  --verde_medio: #3989bede;
  --corComentario: #6aa3e4;
  --corEscuro: #010712;
  --corLink: #71cef3;
  --corNotif: #2073c099;
}

.white-mode:root {
  --corBackground: white;
  --corBackground2: #c8e6ee90;
  --corBackground3: #8eb9c490;
  --corTransp: #8fe5fd99;
  --corFonte: #142d57;
  --verde_medio: #88d6dfd8;
  --corComentario: #7bbed3;
  --corEscuro: #010a12;
  --corLink: #026891;
  --corNotif: #e6ffff99;
}

@-webkit-keyframes efeito_barra {
  to {
    background: transparent;
  }
}

@keyframes efeito_barra {
  to {
    background: transparent;
  }
}

@-webkit-keyframes efeito_maquina {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes efeito_maquina {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes efeito_mostra {
  from {
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes efeito_mostra {
  from {
    opacity: 0;
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes efeito_mostra_notif {
  from {
    opacity: 0;
    -webkit-transform: translatex(120px);
            transform: translatex(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes efeito_mostra_notif {
  from {
    opacity: 0;
    -webkit-transform: translatex(120px);
            transform: translatex(120px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: var(--verde_medio);
}

*::selection {
  background-color: var(--verde_medio);
}

html {
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--corFonte);
}

body {
  font-family: "Quicksand";
  background: var(--corBackground);
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

h1,
h2,
h3 {
  display: inline-block;
  color: var(--corFonte);
  font-family: "Oxygen Mono";
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: efeito_maquina 7.5s steps(70) normal;
          animation: efeito_maquina 7.5s steps(70) normal;
}

h1::after,
h2::after,
h3::after {
  content: "";
  margin-left: 5px;
  display: inline-block;
  -webkit-animation: efeito_barra 1s normal;
          animation: efeito_barra 1s normal;
  background: -webkit-gradient(linear, left top, right top, from(#34f5c6), to(#1dcdfe));
  background: linear-gradient(to right, #34f5c6, #1dcdfe);
}

@media (max-width: 599px) {
  h1::after,
  h2::after,
  h3::after {
    height: 3px;
    width: 15px;
  }
}

@media (min-width: 600px) {
  h1::after,
  h2::after,
  h3::after {
    height: 3.5px;
    width: 19px;
  }
}

h1 {
  letter-spacing: -3px;
}

@media (max-width: 599px) {
  h1 {
    font-size: 2.2em;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.7em;
  }
}

@media (max-width: 599px) {
  h2 {
    font-size: 2.2em;
    margin-bottom: 2em;
  }
}

@media (min-width: 600px) {
  h2 {
    font-size: 2.7em;
    margin-bottom: 2em;
  }
}

@media (min-width: 600px) {
  h2 {
    margin-bottom: 3em;
  }
}

.botao {
  font-family: "Oxygen Mono";
  border: 1px solid var(--corFonte);
  border-radius: 50px;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: var(--corFonte);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.botao:hover {
  color: var(--corEscuro);
  border: 1px solid transparent;
  background: -webkit-gradient(linear, left top, right top, from(#34f5c6), to(#1dcdfe));
  background: linear-gradient(to right, #34f5c6, #1dcdfe);
}

nav {
  color: var(--corFonte);
  opacity: 95%;
  width: 100%;
  top: 0;
  position: fixed;
  margin-bottom: 75px;
  z-index: 1000;
  padding: auto 20px;
  background: var(--corBackground);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

nav a {
  text-decoration: none;
  color: var(--corFonte);
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

nav a:visited {
  color: var(--corFonte);
}

@media (max-width: 599px) {
  nav a {
    margin: 20px 20px;
  }
}

@media (min-width: 600px) {
  nav a {
    margin: 20px 20px;
  }
}

@media (min-width: 1200px) {
  nav a {
    margin: 20px 40px;
  }
}

nav #navbar {
  float: right;
  z-index: 2000;
  background-color: var(--corBackground);
  text-align: center;
}

nav #navbar i {
  width: 15px;
  height: 15px;
  margin: 20px 30px;
  display: inline-block;
  color: var(--corFonte);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

nav #navbar #nav-link {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav #navbar #nav-link:hover {
  text-decoration: underline;
}

nav #navbar .botao {
  padding: 7px 17.5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 599px) {
  nav #navbar {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  nav #navbar {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  nav #navbar {
    font-size: initial;
  }
}

nav #logo {
  text-decoration: none;
  margin: 0 30px;
  padding: 7px 17.5px;
  display: inline-block;
  font-family: "Oxygen Mono";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav #logo p {
  display: inline;
}

nav #logo img {
  max-height: 30px;
  max-width: 30px;
  padding-top: 10px;
}

nav #logo #img1 {
  padding-left: 10px;
}

@media (max-width: 599px) {
  nav #logo {
    margin-left: 10px;
    margin-right: 0px;
    font-size: 19px;
  }
}

@media (min-width: 600px) {
  nav #logo {
    margin-left: 10px;
    margin-right: 0px;
    font-size: 19px;
  }
}

@media (min-width: 1200px) {
  nav #logo {
    font-size: 22px;
  }
}

.figuras {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

.figuras #fig0 {
  color: var(--verde_medio);
  font-size: 30px;
  left: 30%;
  top: 8vh;
  position: fixed;
  z-index: -10;
  -webkit-animation: efeito_mostra 2.5s forwards ease-in-out;
          animation: efeito_mostra 2.5s forwards ease-in-out;
}

.figuras #fig1 {
  color: #34f5c6;
  font-size: 38px;
  right: 22%;
  top: 10vh;
  position: absolute;
  letter-spacing: 15px;
  z-index: 10;
  -webkit-animation: efeito_mostra 1s forwards ease-in-out;
          animation: efeito_mostra 1s forwards ease-in-out;
}

.figuras #fig2 {
  color: var(--corBackground2);
  opacity: 0.6;
  font-size: 25px;
  right: 20%;
  top: 42vh;
  position: fixed;
  z-index: -11;
  -webkit-animation: efeito_mostra 2s forwards ease-in-out;
          animation: efeito_mostra 2s forwards ease-in-out;
}

.figuras #fig3 {
  color: #34f5c6;
  font-size: 40px;
  left: 20%;
  top: 50vh;
  position: absolute;
  letter-spacing: 10px;
  z-index: 11;
  -webkit-animation: efeito_mostra 1s forwards ease-in-out;
          animation: efeito_mostra 1s forwards ease-in-out;
}

.figuras #fig4 {
  color: #1dcdfe;
  font-family: "Oxygen Mono";
  font-size: 25px;
  position: absolute;
  right: 24%;
  top: 73vh;
  z-index: 12;
  letter-spacing: 12px;
  -webkit-animation: efeito_mostra 1s forwards ease-in-out;
          animation: efeito_mostra 1s forwards ease-in-out;
}

.figuras #fig5 {
  color: var(--verde_medio);
  font-size: 30px;
  position: fixed;
  left: 24%;
  top: 85vh;
  z-index: -12;
  letter-spacing: 12px;
  -webkit-animation: efeito_mostra 2.5s forwards ease-in-out;
          animation: efeito_mostra 2.5s forwards ease-in-out;
}

.figuras #fig6 {
  color: var(--corBackground2);
  opacity: 0.6;
  font-family: "Oxygen Mono";
  font-size: 20px;
  position: fixed;
  left: 18%;
  top: 44vh;
  z-index: -13;
  -webkit-animation: efeito_mostra 2s forwards ease-in-out;
          animation: efeito_mostra 2s forwards ease-in-out;
}

.figuras #fig7 {
  color: #1dcdfe;
  font-family: "Oxygen Mono";
  font-size: 20px;
  position: absolute;
  left: 26%;
  top: 154vh;
  z-index: 12;
  -webkit-animation: efeito_mostra 1s forwards ease-in-out;
          animation: efeito_mostra 1s forwards ease-in-out;
}

.figuras #fig8 {
  color: #34f5c6;
  font-size: 40px;
  right: 25%;
  top: 160vh;
  position: absolute;
  letter-spacing: 10px;
  z-index: 11;
  -webkit-animation: efeito_mostra 1s forwards ease-in-out;
          animation: efeito_mostra 1s forwards ease-in-out;
}

main {
  text-align: center;
  overflow-x: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 500px) {
  main {
    margin: 9em 1vw;
  }
}

@media (max-width: 599px) {
  main {
    margin: 9em 8vw;
  }
}

@media (min-width: 600px) {
  main {
    margin: 10em 6vw;
  }
}

@media (min-width: 1200px) {
  main {
    margin: 10em 15vw;
  }
}

main h1 {
  margin-top: 12vh;
}

mark,
.comentario {
  color: var(--corComentario);
  background-color: transparent;
  font-family: "Oxygen Mono";
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer {
  background-color: var(--corBackground);
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  z-index: -14;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer p {
  margin: 50px auto 30px;
  font-size: 14px;
  color: var(--corLink);
  letter-spacing: 2px;
}

.notificacao {
  position: fixed;
  background-color: var(--corNotif);
  border: 1px solid var(--corComentario);
  border-radius: 0 20px 0 20px;
  z-index: 2000;
}

.notificacao span {
  right: 0;
  display: block;
  position: absolute;
}

#notificacao_cookies {
  right: 0;
  position: absolute;
  padding: 30px 40px;
  bottom: 0;
  margin: 50px;
  position: fixed;
  display: block;
  -webkit-animation: efeito_mostra_notif 0.7s forwards ease-in-out;
          animation: efeito_mostra_notif 0.7s forwards ease-in-out;
}

#notificacao_cookies span {
  cursor: pointer;
  top: 5px;
  right: 30px;
  font-size: 30px;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

#notificacao_cookies h3 {
  -webkit-animation: none;
          animation: none;
  margin-bottom: -2px;
}

#notificacao_cookies p {
  padding-left: 10px;
}
/*# sourceMappingURL=principal.css.map */